# Python/Django
*.pyc
*.pyo
__pycache__/
db.sqlite3
.env
*.log
media/
staticfiles/
.env.*
# Django migrations
**/migrations/
# VSCode
.vscode/
# PyCharm
.idea/
# Coverage
coverage/
htmlcov/

# Node/React
node_modules/
build/
dist/
.env.local
.env.development
.env.production
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Misc
*.bak
*.swp

# Docker
.env.docker
.envrc
docker-compose.override.yml